<mat-card-title>
  <article class="row">
    <div class="col-12 text-center">
      Zaloguj się lub utwórz nowe konto
    </div>
  </article>
</mat-card-title>
<mat-card-content *ngIf="loginForm">
  <form [formGroup]="loginForm">
    <article class="row justify-content-center">
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <mat-form-field>
          <input matInput placeholder="Login" formControlName="login"/>
        </mat-form-field>
      </div>
    </article>
    <article class="row justify-content-center">
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <mat-form-field>
          <input matInput placeholder="Hasło" type="password" formControlName="password"/>
        </mat-form-field>
      </div>
    </article>
    <div class="row justify-content-center pt-2">
      <div class=" col-lg-2 col-md-3 col-sm-3">
        <button [disabled]="loginForm.invalid"
                class="w-100 p-0 mb-2"
                mat-raised-button
                (click)="login()">
          Zaloguj
        </button>

        <button (click)="register()"
                [disabled]="loginForm.invalid"
                class="w-100 p-0 mb-2"
                mat-raised-button>
          Zarejestruj
        </button>
      </div>
    </div>
  </form>
</mat-card-content>
