<div class="container-fluid p-0">
  <main class="d-flex justify-content-center">
    <div class="main-container">
      <mat-card class="mb-3">
        <div class="container-fluid">
          <div class="row justify-content-end">
            <div class="col"></div>
            <ng-container *ngIf="loginService.isLogin$() | async">
              <button (click)="loginService.logout()"
                      mat-button>
                <mat-icon>power_settings_new</mat-icon>
                Wyloguj
              </button>
            </ng-container>
          </div>
        </div>
        <router-outlet></router-outlet>
      </mat-card>
    </div>
  </main>
</div>
