<mat-horizontal-stepper #stepper [linear]="true">

  <mat-step [stepControl]="electionAreaService.electionAreaFormGroup">
    <ng-template matStepLabel>Rejestracja w okręgu wyborczym</ng-template>
    <app-election-area-step
      [stepper]="stepper"
    ></app-election-area-step>
  </mat-step>

  <mat-step [stepControl]="candidateService.candidateFormGroup">
    <ng-template matStepLabel>Wybór kandydata</ng-template>
    <app-candidate-choose-step></app-candidate-choose-step>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Potwierdzenie</ng-template>
    <ng-container *ngIf="candidateService.chosenCandidate$ | async as candidate">
      <app-confirmation-step
        [candidate]="candidate"
        [electionAreaId]="electionAreaService.chosenElectionAreaId"
        [electionTermId]="electionTermService.currentElectionTermId"
        [stepper]="stepper"
      ></app-confirmation-step>
    </ng-container>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Podsumowanie</ng-template>
    <app-summary-step></app-summary-step>
  </mat-step>

</mat-horizontal-stepper>
